# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Downloaded fmt headers, get them using:
#   wget https://github.com/fmtlib/fmt/releases/download/10.2.1/fmt-10.2.1.zip
fmt-10*/
fmt-master*/
ctre.hpp